@import "../../../../assets/scss/vars";

.select {
    width: 120px;
    position: relative;
    margin-bottom: 10px;

    &__control {
        margin-top: 10px !important;
        cursor: pointer !important;
        width: 100% !important;
        height: 50px !important;
        border: 1px solid var(--color-wistful-or-dove-gray) !important;
        border-radius: 10px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        user-select: none !important;
        outline: none !important;
        background-color: transparent !important;
    }

    &__single-value {
        font-family: "Museo Sans Cyrl", sans-serif !important;
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 100% !important;
        color: var(--color-mine-shaft-or-white) !important;
        margin-left: 0 !important;
        overflow: visible !important;
    }

    &__control--is-focused {
        outline: none !important;
    }

    &__value-container {
        padding: 0 15px !important;
    }

    &__placeholder {
        font-family: "Museo Sans Cyrl", sans-serif !important;
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 100% !important;
        color: var(--color-wistful-or-dove-gray) !important;
        margin-left: 0 !important;
    }

    &__indicator {
        display: flex !important;
        padding: 0 35px 0 0 !important;
        transform: rotate(-90deg);
        width: 20px !important;
        height: 20px !important;

        svg {
            display: none !important;
        }
    }

    &__indicator-separator {
        display: none !important;
    }

    &__option {
        cursor: pointer !important;

        &--is-focused {
            background: none !important;
        }

        &--is-selected {
            background: none !important;
            color: var(--color-black-or-white) !important;
            font-weight: 700;
        }
    }

    &__menu {
        box-shadow: 0 4px 10px var(--color-body) !important;
        border-radius: 15px !important;
        overflow: hidden;
        background-color: var(--color-body) !important;
    }

    &__item {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}

html[data-theme="light"] {
    .select__indicator {
        background: url("#{$url-input-date-arrow}") center no-repeat !important;
    }
}

html[data-theme="dark"] {
    .select__indicator {
        background: url("#{$url-input-date-arrow2}") center no-repeat !important;
    }
}

.css-1pahdxg-control {
    box-shadow: none !important;
}